.photogrid::before {
    content: '4 .column.size-1of4';
    display:none;
}

.column {
    margin:0 5px;
}

body {
    margin:0 auto;
}

.container {
    margin:0 auto;
    width:100%;
}

img {
    height:auto;
    max-width:100%;
}

.column { float: left; }
.size-1of4 { width: 250px; }
.size-1of1 { width: 100%; }

@media screen and (max-width: 480px){
    .photogrid::before {
        content: '1 .column.size-1of1';
    }

    .container {
        margin:0 auto;
        width:480;
    }
}