<div class="l-header">
    <h1>angular-deckgrid</h1>
    <h2>A masonry-like, responsive grid without other dependencies for AngularJS</h2>
</div>

<nav class="l-navigation">
    <a class="button" href="http://github.com/akoenig/angular-deckgrid">Download</a>
</nav>

<div class="deckgrid clearfix" data-deckgrid data-source="photos" data-cardTemplate="templates/deckgrid-card.html"></div>

<div class="l-footer">
    <a href="http://iam.andrekoenig.info" class="hint--left hint--rounded" data-hint="Hey, I'm André">
        <small>built by</small>
        <img class="image-round" width="50" src="images/andre.png">
    </a>
</div>